<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.examshadhin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".view.util.GlobalVariable"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExamShadhiN"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.view.UserUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".view.view.ViewCustomerListActivity"
            android:exported="false" />
        <activity
            android:name=".view.view.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".view.view.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>